<%- include('includes/header') %>

<section class="service-page">
  <div class="container service-grid">
    <div class="service-text">
      <h1>ITR Filing</h1>
      <p>
        File Income Tax Returns quickly and securely
        with professional support.
      </p>
      <ul>
        <li>Individual ITR</li>
        <li>Business ITR</li>
        <li>Fast Processing</li>
      </ul>
    </div>
    <div class="service-image">
      <img src="assets/images/egov.png">
    </div>
  </div>
</section>

<%- include('includes/footer') %>
